<!doctype html>
<html class="no-js" lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
    <meta name="author" content="Unrism">
    <!-- <link rel="shortcut icon" href="images/favicon.png"> -->
    <!-- <link rel="apple-touch-icon" href="images/apple-touch-icon-57x57.png"> -->

    <!-- Stylesheets -->

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/et-line-icons.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <link rel="stylesheet" href="/css/dashboard.css" />
    <!-- ----------- -->
</head>

<body>
    <div class="box-layout">
        <!-- navbar  -->
        <%- include('../partials/navbarAdmin.ejs') %>

            <!-- start about services section -->
            <section id="about" class="wow fadeIn">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 text-center center-col margin-eight-bottom xs-margin-30px-bottom">
                            <!-- <span class="alt-font text-deep-pink text-medium margin-5px-bottom display-block">User <%= session.user.name %> is logged in</span> -->
                            <h5 class="font-weight-300 text-extra-dark-gray">Admin Dashboard</h5>
                        </div>
                    </div>

                    <div class="row">

                        <!-- TO ADD href for each respective dashboard -->
                        <!-- BLOG MANAGEMENT -->
                        <!-- <div class="col-md-4 col-sm-4 col-xs-12 xs-margin-five-bottom last-paragraph-no-margin wow fadeInUp">
                            <a href="/blogs/admin-view">
                                <div class="feature-box">
                                    <div class="content">
                                        <i class="icon-mobile icon-extra-medium text-medium-gray xs-margin-10px-bottom position-relative top-minus3"></i>
                                        <div class="text-medium alt-font text-capitalize text-extra-dark-gray margin-10px-bottom sm-margin-5px-bottom">Blog Management</div>
                                        <p class="width-85 margin-lr-auto sm-width-100">Add, update or delete all your blogs</p>
                                    </div>
                                </div>
                            </a>
                        </div> -->

                        <div class="col-md-4 col-sm-4 col-xs-12 xs-margin-five-bottom last-paragraph-no-margin wow fadeInUp">
                            <a href="https://docs.google.com/forms/d/1zZaWvxyeSf7R6-UjSO8f4qtmwAkhdCkQwsivTdd7wYo/edit?usp=sharing" target="_blank">
                                <div class="feature-box">
                                    <div class="content">
                                        <!-- <i class="icon-mobile icon-extra-medium text-medium-gray xs-margin-10px-bottom position-relative top-minus3"></i> -->
                                        <div class="text-medium alt-font text-capitalize text-extra-dark-gray margin-10px-bottom sm-margin-5px-bottom">Job Applications</div>
                                        <p class="width-85 margin-lr-auto sm-width-100">View and manage all applications</p>
                                    </div>
                                </div>
                            </a>
                        </div>


                        <!-- CONTACT MANAGEMENT -->
                        <div class="col-md-4 col-sm-4 col-xs-12 xs-margin-five-bottom last-paragraph-no-margin wow fadeInUp">
                            <a href="/contact/admin">
                                <div class="feature-box">
                                    <div class="content">
                                        <i class="far fa-id-card"></i>
                                        <!-- <i class="icon-globe icon-extra-medium text-medium-gray xs-margin-10px-bottom position-relative top-minus3"></i> -->
                                        <div class="text-medium alt-font text-capitalize text-extra-dark-gray margin-10px-bottom sm-margin-5px-bottom">Contact Form Management</div>
                                        <p class="width-85 margin-lr-auto sm-width-100">View and search all your contact forms</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12 xs-margin-five-bottom last-paragraph-no-margin wow fadeInUp">
                            <a href="https://docs.google.com/forms/d/1pkixFwFk4ZZRhhuHUnxrzHUXFZWF_xqxXiQMEes3RxM/edit?usp=sharing" target="_blank">
                                <div class="feature-box">
                                    <div class="content">
                                        <!-- <i class="icon-mobile icon-extra-medium text-medium-gray xs-margin-10px-bottom position-relative top-minus3"></i> -->
                                        <div class="text-medium alt-font text-capitalize text-extra-dark-gray margin-10px-bottom sm-margin-5px-bottom">Induction</div>
                                        <p class="width-85 margin-lr-auto sm-width-100">View and manage induction forms</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <!-- gallery -->
                        <!-- <div class="col-md-4 col-sm-4 col-xs-12 xs-margin-five-bottom last-paragraph-no-margin wow fadeInUp">
                            <a href="/blogs/images">
                                <div class="feature-box">
                                    <div class="content">
                                        <i class="icon-tools icon-extra-medium text-medium-gray xs-margin-10px-bottom position-relative top-minus3"></i>
                                        <div class="text-medium alt-font text-capitalize text-extra-dark-gray margin-10px-bottom sm-margin-5px-bottom">Gallery</div>
                                        <p class="width-85 margin-lr-auto sm-width-100">Add or delete images</p>
                                    </div>
                                </div>
                            </a>
                        </div> -->
                    </div>

                </div>
            </section>

    </div>


    <!-- start scroll to top -->
    <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
    <!-- end scroll to top -->

    <script type="text/javascript" src="/js/bootstrap.min.js"></script>


</body>

</html>