<!-- Messenger Chat Plugin Code -->
<div id="fb-root"></div>

<!-- Your Chat Plugin code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>

<script>
    var chatbox = document.getElementById('fb-customer-chat');
    chatbox.setAttribute("page_id", "107825674175208");
    chatbox.setAttribute("attribution", "biz_inbox");

    window.fbAsyncInit = function() {
        FB.init({
            xfbml: true,
            version: 'v12.0'
        });
    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<style>
    /* ***************
 * FB on left side 
 ******************/
    /* This is for the circle position */
    
    .fb_dialog.fb_dialog_advanced {
        left: 18pt;
    }
    /* The following are for the chat box, on display and on hide */
    
    iframe.fb_customer_chat_bounce_in_v2 {
        left: 9pt;
    }
    
    iframe.fb_customer_chat_bounce_out_v2 {
        left: 9pt;
    }
</style>